

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,p{
    color: black;
}

h4{
    font-size: 20px;
}


#header{
    background-color:cornflowerblue;
    overflow-x: hidden;
}

.app-name {
    font-size: 1.35em;
    margin: 0;
}
.main-nav {
    margin-top: 5px;
}
.app-name a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.main-nav a {
    font-size: .95em;
    font-weight: 700;
    color:white
}
.main-nav a:hover {
    color:#ffb3ff;
}

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.app-name a{
      color:white;
      font-size: 30px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer {
    position: relative ;
    height: 50px;
    background:cornflowerblue;
    padding: 2em 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}


.main-footer span{
    color: white
}

.container {
    width:85%;
    margin: 0;
    overflow: hidden;
}

.form-box{
    /* box-sizing: border-box;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background: #fff;
    padding: 30px;
    border: 0px solid cornflowerblue;
    box-shadow:0 5px 10px #fff;
    border-radius: 10px 20px;
    /* margin-top:10%; */ 
}

.form-box p{
    text-shadow: none;
    color:black;
}


input[type=text],input[type=number] , input[type=password],textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
  }

  

.formbtn,.markbtn,.markbtn2 {
  background-color:cornflowerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
    width: 50%;
    display:block;
    margin: 0 auto;
  }

#banner {
    height: 80vh;
    width: 100vw;
    background-image: url('../images/Bomas-of-Kenya.jpg');
    background-size:cover;
    background-position: center center;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#banner-inner h1 {
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 100px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
}

.sold{
  color: red;
}
.property {
  padding: 1em;
  background: #ddd;
  border-radius: .35em;
    margin: 10px 10px;
    cursor: pointer;
}

/* .property:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
} */

#one{
    background-image:url(mud.jpg);
    background-size: cover;
}

#two{
    background-image:url(hut2.jpg);
    background-size: cover;
}

.column {
    display: flex;
    flex-grow: 1;
    border: none;
}

.property-profile{
    border-right-style: groove;
    padding: 0em;
    margin: 1em 3em;
    border-right: 2px solid #999;
    padding-right: 1em;
    width: 30%;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}

.edit-form{
    margin: 1em 3em;
    width: 40%;
    background: #fff;
    padding: 30px;
    border: 3px solid #999;
    box-shadow:0 5px 10px #999;
    border-radius: 10px 20px;
    flex-direction: column;
}


.markbtn,.markbtn2,.button{
    background-color: green;
    margin-top: 20px;
    width: 100%;
}
.button1,.button2{
    font-size: 15px;
    color: #fff;
    border-radius: 8px;
    background-color: green;
    cursor: pointer;
}

.markbtn2,.button2{
    background-color: red;
}

.btnsold{
    background-color: red;
    font-size: 16px;
    color: #fff;
    width: 100%;
}

.vacant,.sold{
    border-left-style: groove;
    padding: 0em;
    margin: 1em 3em;
    border-left: 2px solid #999;
    padding-left: 1em;
}

.row{
    margin-top: 30px;
}

.property-advert {
  padding: 1em;
  background: #BBB5B5;
  border-radius: .35em;
    margin: 0 .5em .8em;
    border: 2px solid #999;

}

.property-advert:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

.property-advert p,.property-advert h3{
  color:white;
}

@media (max-width: 575px) {
    .property{
        height:200px;
        margin: 0;
        margin-bottom:20px; 
    }

    .column{
        flex-direction: column;
    }

    .property-profile{
        width:auto;
        margin: 0;
        margin-left:10px; 
        margin-bottom: 25px;
    }

    .adverts{
        display: flex;
        flex-direction: column;
      }

    .edit-form{
        width:auto;
        margin: 0;
        padding: 
    }

    .vacant{
        width:auto;
        margin: 0;
        margin-left:10px; 
        margin-bottom: 25px;
    }

    .sold{
        width:auto;
        margin: 0;
        margin-left:10px; 
        margin-bottom: 25px;
    }
}


@media (min-width: 769px) {
    .main-header,.main-nav, .column,.adverts{
      display: flex;
      flex-wrap: wrap;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .form-box{
        display: inline-flex;
        
    }

    /* .adverts{
        display: flex;
        flex-direction: column;
      }
     */
      .property{
          height:400px;
      }
      .row {
        display: flexl;
    width: 90%;
    margin: 0 auto;
    }

    .property-advert{
        display: inline-flex;
        flex: auto;
        height:100px;
     
    }
}


@media (min-width: 1025px) {
    .form-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:3% 25%;
        width: 50%;
        /* justify-content: center; */
    }
    .main-header{
        flex-direction: row;
        justify-content: space-between;
    }

    .adverts{
        display: flex;
        flex-grow: 1;
        flex:1;
        flex-direction: row;
    }

    .vacant{
        width: 25%;
        
    }

    .sold{
        width: 25%;
    }

    .property{
        height: 200px;
    }

    .row {
        margin-top: 30px;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        display: flex;
    width: 100%;
    }

    .property-advert{
        display: flex;
        flex-grow: 1;
        flex:1 1 30%;
        height: 250px;
    }
   
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: cornflowerblue;
}

.btn:hover {
  background-color: cornflowerblue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
}

.card_title {
  color: cornflowerblue;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400px;
  font-family: arial;
  font-style: bold: ;
}
